main{
  width: 100vw;
  height: 100vh;
  background-color: #22254B;
}

.container {
overflow-x: auto;
max-width: auto;
max-height: auto;
padding-top: 20px;
}

.container::-webkit-scrollbar {
  display: none;
  }

.movie-item {
  display: grid;
  grid-template-columns: repeat(8, minmax(160px, 1fr));
  gap: 20px 0;
}

