body{
  margin: 0;
}

.container {
overflow-x: auto;
max-width: 1300px;
padding: 20px;
margin: auto;
}

.container::-webkit-scrollbar {
  display: none;
  }

.movie-item {
  display: grid;
  grid-template-columns: repeat(8, minmax(160px, 1fr));
  gap: 20px 0;
}

