main{
  width: 100vw;
  height: 100vh;
  background-color: #22254B;
}

.container {
max-width: auto;
max-height: auto;
padding: 20px;
}

.movie-item {
  display: grid;
  grid-template-columns: repeat(8, minmax(170px, 1fr));
  gap: 20px 0;
}
